.compiler {
  padding: 0 2rem;
  overflow-y: scroll;
  height: calc(100vh - 5rem);
}

.compiler > form > div {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
}
.compiler > form > div > textarea {
  width: 40vw;
  height: 30rem;
  resize: none;
}
